<div *ngIf="objet && appUser" class="page ml-auto">
<div class="directory-details pt-padding">
    <div class="container">
    <div class="row">
    <div class="col-lg-8">
    <div class="small-tittle mb-20">
    <h1 pageTitle>{{objet.Nom_Objet}}</h1>
    </div>
    <div class="gallery-img">
    <div class="row">
    <div class="col-lg-3">
    <img src="https://i.ebayimg.com/images/g/TcsAAOSwpcBaqhEE/s-l500.jpg" class="mb-30" alt="" width="200" height="200">
    </div>
    <div class="col-lg-3">
    <img src="https://i.ebayimg.com/images/g/TcsAAOSwpcBaqhEE/s-l500.jpg" class="mb-30" alt="" width="200" height="200">
    </div>
    <div class="col-lg-3">
    <img src="https://i.ebayimg.com/images/g/TcsAAOSwpcBaqhEE/s-l500.jpg" class="mb-30" alt="" width="200" height="200">
    </div>

    <h2>Description</h2>
    <div class="directory-cap mb-40">
    <p>{{objet.Descrition_Longue}}</p>
    </div>
    <h2>Valeur</h2>
    <div class="directory-cap mb-40">
    <p>{{objet.Valeur}}</p>
    </div>

    </div>
    </div>
    </div>

    <div class="col-lg-4">
    <div class="form-wrapper pt-80">
    <div class="row ">
    <div class="col-xl-12">
    </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{appUser.Nom}} ⭐⭐⭐⭐★</h5>
          <p class="card-text">Nombre d'annonce</p>
          <a href="#" class="btn btn-success">Emprunter</a>
          <p></p>
          <a href="#" class="btn btn-primary">Messages</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>

