@model ObjetModel
<div class="form-group">
    <label asp-for="Nom_Objet"></label>
    <input class="form-control" asp-for="Nom_Objet">
    <span asp-validation-for="Nom_Objet" class="text-danger"></span>
</div>


